.header__logo {
  width: 142.01px;
  height: 33.4px;
}

@media screen and (max-width: 882px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}