@import url(./__line/header__line.css);
@import url(./__logo/header__logo.css);

.header {
  margin: 45px auto 0 auto;
  max-width: 882px;
}

@media screen and (max-width: 882px) {
  .header{
    max-width: 100%;
    margin: 28px auto 0 auto;
  }

}