.profile__button_edit {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background: url(../../../../images/edit.svg) center no-repeat;
  margin: 0 0 12px 17px;
}

@media screen and (max-width: 882px) {
  .profile__button_edit {
    justify-self: left;
    width: 18px;
    height: 18px;
    margin: 0 0 18px 10px;
}
}