.popup__form-with-cross {
  width: 480px;
  display: flex;  
  flex-direction: column;
  margin-left: 40px;
  transition: ease-in-out .3s;  
}

@media screen and (max-width: 530px) {
  .popup__form-with-cross {
    width: 100%;
    margin: 0;
  }
}