.profile__button {
  background-color: #000;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  transition: ease-out .2s;
}

.profile__button:hover {
  opacity: .6;
  transition: ease-in .2s;
}